<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <h1>Vue Events</h1>
    </header>
    <section id="events">
      <h2>Eventsin Action</h2>
      <button @click="increment">Add</button>
      <button @click="incrementDynamic(5)">Add 5</button>
      <button @click="decrement">Remove</button>
      <button @click="decrementDynamic(5)">Remove 5</button>
      <p v-once>Starting Counter: {{counter}}</p>
      <p>Results: {{ counter }}</p>
      <!-- <input
        type="text"
        v-bind:value="name"
        v-on:input="setName($event, 'Hi')"
        v-on:keyup="confirmInput"
      /> -->
      <input type="text" v-model="name" />
      <input type="text" v-model="lastName" />
      <button @click="resetInput">Reset Input</button>
      <p>Your Full Name: {{ fullname }}</p>
      <!-- Computed Property-->
      <!--Once run when the value of fullname function return new <p>Your Name: {{ fullname }}</p> -->
      <!--Re-run again of value changes <p>Your Name: {{ outputFullName() }}</p> -->
      <!-- <form v-on:submit.prevent="submitForm">
        <input type="text" />
        <button>Sign up</button>
      </form> -->
    </section>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="app.js"></script>
  </body>
</html>
